@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #231a26;
    justify-content: center;
    align-items: center;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#containerGeral {
    display: flex;
    width: fit-content;
    max-width: 1040px;
    height: fit-content;
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;

}

#imagem {
    display: none;
    width: 600px;
    border-radius: 5px;
}

#containerFormDesc {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#containerFormDesc > form{
    display: flex;
    justify-content: space-evenly;
    
}


#data {
    padding: 5px;
    border: none;
    background-color: #e3e3e3;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
}

#btnFazerRequest {
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background: #130e14;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

#msgErro {
    display: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #d40007;
    font-size: 14px;
    padding: 5px;
}

#containerFormDesc > article {
    margin-top: 10px;
}